<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Employees list
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">
            <input
              type="text"
              [(ngModel)]="searchText"
              (keyup)="filterEmployee()"
              class="form-control"
              id="search"
              mdbInput
              autocomplete="off"
            />
            <label for="search">Search employee by name</label>
          </div>
        </div>
      </div>
      <div *ngIf="!employeesList.length">
        <h3
          class="text-center font-weight-bold text-uppercase py-4"
        >
          Empty list
        </h3>
      </div>
      <table
        *ngIf="employeesList.length"
        class="table table-responsive-md text-center"
      >
        <tr>
          <th>Employee name</th>
          <th>Employee surname</th>
          <th>Work position</th>
          <th>Date of birth</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let employee of employeesList">
          <td>
            {{ employee.name }}
          </td>
          <td>
            {{ employee.surname }}
          </td>
          <td>
            {{ employee.workPosition }}
          </td>
          <td>
            {{ employee.birthDate }}
          </td>
          <td>
            <button
              type="button"
              mdbBtn
              color="indigo"
              rounded="true"
              size="sm"
              class="my-0"
              (click)="openModalEmployee('Edit', employee)"
            ><span>
              Edit
              <mdb-icon fas icon="edit"></mdb-icon>
            </span>
            </button>
          </td>
          <td>
            <button
              type="button"
              mdbBtn
              color="danger"
              rounded="true"
              size="sm"
              class="my-0"
              (click)="removeEmployee(employee.id)"
            ><span>
              Remove
              <mdb-icon fas icon="trash"></mdb-icon>
            </span>
            </button>
          </td>
        </tr>
      </table>
      <span class="table-add float-right mr-2">
        <a class="text-success" (click)="openModalEmployee('Create')">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
    </div>
  </div>
</div>
